{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %} Meus produtos {% endblock title %}

{% block content %}

<section class="content">
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-3">
            <h1>Meus produtos</h1>
        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="content">
        <button class="btn"><a href="{% url 'novo' %}">Novo</a></button>
        <div class="col-md-12">
            {% include "_tabelaProdutos.html" %}
        </div>
    </div>
</section>
{% endblock content %}

