{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/sidenav.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/gerar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/main.css' %}"/>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>

    <div class="content col-md-12">
        <div class="sidenav">
          <a href="{% url 'index' %}">Produtos</a>
        </div>
        <div class="main">
            {% block content%}

            {% endblock content %}
        </div>
    </div>
    <footer class="footer-copyright text-center py-2">
        <strong>Copyright &copy; 2019 JATECLOGIA Sistemas.</strong> Todos os direitos reservados.
    </footer>

</body>
</html>